{% extends 'base.html' %}
{% block container %}


<div class="container">

    <div class="mt-4 mb-3"><a href="/">Назад, на главную</a></div>
    <h2 class="р2 mb-3"><strong>
        {{search_message}}
    </strong></h2>
    <form action="" method="post">
        <div class="form-row">
            <div class="col-7">
                <input type="text" name="search_bar" class="form-control" placeholder="Введите слова">
            </div>

            <div class="col">
                <input type="submit" class="btn btn-primary" value="Найти">
            </div>
        </div>
    </form>

    <p> Например: {% for tag in tags%} <a href="/search/{{tag}}" class="mx-2">{{tag}}</a>{% endfor %} </p>
    {% if search_result != None %}
    <div class="row mt-3">
        {% for key, value in search_result.items() %}
        <div class="col-4 mt-4">
            <div class="card" style="width: 18rem; background-color: rgba(209, 254, 255, 0.4);">
                <a class="nav-link "</a>
                <iframe width="100%" height="100%" src={{value[1]}}
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="card-body">
                    <a class="card-text">{{value[0]}}.</a>
                    <a href={{value[2]}} class="btn btn-primary btn-sm mt-3 float-right">Открыть</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div><!--/container-->


{% endblock %}